In [9]:
import pandas as pd

In [1]:
!pip install tweepy

Requirement already satisfied: tweepy in c:\users\lenovo\anaconda3\lib\site-packages (3.7.0)
Requirement already satisfied: requests>=2.11.1 in c:\users\lenovo\anaconda3\lib\site-packages (from tweepy) (2.21.0)
Requirement already satisfied: PySocks>=1.5.7 in c:\users\lenovo\anaconda3\lib\site-packages (from tweepy) (1.6.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tweepy) (1.2.0)
Requirement already satisfied: six>=1.10.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tweepy) (1.12.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.11.1->tweepy) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.11.1->tweepy) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.11.1->tweepy) (2018.11.29)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.0.1)

In [2]:
import tweepy

In [3]:
consumer_key='0hlm7MB2GXZd1ugopZyDva8ab'
consumer_secret='x4eAiDqcHybrw2gN0IZOa3Fxa5bykWIDfBnCn5SK0JKk089YZy'


access_token = '984992114-zKTav4JtEnQW9cxxbIUgycTbRvaaL3P8klwO8tEe'
access_secret='6UOfOXsxXytpvnJZMIdDDPIPQQWnaCyxTjDSYvGw7HaAS'

In [4]:
auth=tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token , access_secret)

api=tweepy.API(auth)
#wait_on_rate_limit_

In [6]:
#Scrapping #BatlaHouseBlockBuster

In [7]:
tweets=api.search('#BatlaHouseBlockbuster', count=200)
len(tweets)

100

In [19]:
df = pd.DataFrame()
for tweet in tweets:
    #print(tweet.user.location)
    #print(tweet.user.name)
    #print(tweet.user.name, tweet.user.screen_name)
    #print(tweet.user.friends_count,tweet.user.description)
    #print('------------')
    #print(tweet)
    curr_tweet={
        'dispay_name':tweet.user.name,
        'text':tweet.text,
        'created_at':tweet.created_at,
        'followers':tweet.user.followers_count,
        'friends':tweet.user.friends_count,
        'user_description':tweet.user.description,
        'likes':tweet.favorite_count,
        'user_location':tweet.user.location,
        'retweets':tweet.retweet_count
    }
    
    df = tweets_df.append(curr_tweet,  ignore_index=True)
df.head()

,created_at,dispay_name,followers,friends,likes,retweets,text,user_description,user_location
0,2019-08-16 06:49:27,Rohitsingh,26.0,131.0,0.0,0.0,@Box_Off_India #BatlaHouseBlockbuster,still student,India
1,2019-08-16 06:49:18,Rohitsingh,26.0,131.0,0.0,0.0,@KRKBoxOffice #BatlaHouseBlockbuster,still student,India
2,2019-08-16 06:49:17,MJ Back 45,224.0,258.0,0.0,0.0,#BatlaHouseBlockbuster Go nd watch batlahouse ...,john abraham kaüòçüòç fan,
3,2019-08-16 06:49:13,Crazy 4 Bollywood ‚ô•Ô∏è,214.0,178.0,0.0,0.0,#BatlaHouseBlockbuster is trending all over !\...,One of Biggest Bollywood News Channel on YT & ...,Mumbai
4,2019-08-16 06:49:12,Rohitsingh,26.0,131.0,0.0,4.0,RT @MJBack451: #BatlaHouseBlockbuster,still student,India

In [15]:
import numpy as np
import pandas as pd
import string
import nltk
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.model_selection import train_test_split
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from matplotlib import pyplot as plt

In [21]:
#Lets take the review_text_columns from the data
text=df[['text']]
print(text['text'][0])

@Box_Off_India #BatlaHouseBlockbuster

In [22]:
df.shape

(101, 9)

In [23]:
#Step=1 Convert every string into lower case
text['Clean_text'] = text['text'].str.lower().str.replace('[^a-z ]','')
print(text['Clean_text'][0])

boxoffindia batlahouseblockbuster

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
#Remoce the stop words
stop = set(stopwords.words('english'))

def sw(text):
    text=[word for word in text.split() if word not in stop]
    return " ".join(text)
    
#Appplying the sw on clean_text colum

text['Split_words'] = text['Clean_text'].apply(sw)
print(text['Split_words'][0])

boxoffindia batlahouseblockbuster

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [27]:
#Creating the count vectorizer
bigram_count_vect = CountVectorizer(ngram_range=(2,2))
#Fitting the count vect on split words
bigram_count_vect.fit(text['Split_words'])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(2, 2), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [28]:
#DTM
Z = bigram_count_vect.fit_transform(text['Split_words'])
Z

<101x397 sparse matrix of type '<class 'numpy.int64'>'
	with 690 stored elements in Compressed Sparse Row format>

In [29]:
#Converting it into a two array part of it
#Dtm matrix
DTM_bigram = pd.DataFrame(Z.toarray(),columns=bigram_count_vect.get_feature_names())
DTM_bigram.head()

,abraham movie,aced httpstcohazthudpbq,action emotions,action movie,action must,action thrill,action thriller,ago answered,akshaykumar seeing,alikehkasha curious,...,wohwalaladka koi,wohwalaladka saaaki,wohwalaladka suppperrhiittt,wohwalaladka treding,world religion,writish ravikishann,yar rock,year ago,yesterday today,yinwoman batlahouseblockbuster
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
#Greq. table from the DTM
word_cout_freq_bigram = DTM_bigram.sum()
word_cout_freq_bigram
#Convert in into a Data Frame
word_table_bigram = pd.DataFrame(word_cout_freq_bigram).reset_index()
word_table_bigram = word_table_bigram.rename(columns={'index':"Word",0:'Count'})
word_table_bigram.sort_values(by='Count',ascending=False).head()

                                            Word  Count
30   batlahouseblockbuster batlahouseblockbuster     28
25                                   batla house     23
284                                    rt mjback     21
200                 mjback batlahouseblockbuster     19
152                                  house movie      8

In [31]:
#TD IDF for Bigram

In [32]:
#Creating the count vectorizer
bigram_tfidf_vect = TfidfVectorizer(ngram_range=(2,2))
#Fitting the count vect on split words
bigram_tfidf_vect.fit(text['Split_words'])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(2, 2), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [33]:
#DTM
Z = bigram_tfidf_vect.fit_transform(text['Split_words'])
Z

<101x397 sparse matrix of type '<class 'numpy.float64'>'
	with 690 stored elements in Compressed Sparse Row format>

In [34]:
#Converting it into a two array part of it
#Dtm matrix
DTM_bigram_tfidf = pd.DataFrame(Z.toarray(),columns=bigram_tfidf_vect.get_feature_names())
DTM_bigram_tfidf.head()

,abraham movie,aced httpstcohazthudpbq,action emotions,action movie,action must,action thrill,action thriller,ago answered,akshaykumar seeing,alikehkasha curious,...,wohwalaladka koi,wohwalaladka saaaki,wohwalaladka suppperrhiittt,wohwalaladka treding,world religion,writish ravikishann,yar rock,year ago,yesterday today,yinwoman batlahouseblockbuster
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
#Greq. table from the DTM
word_tfidf_bigram = DTM_bigram_tfidf.sum()
word_tfidf_bigram
#Convert in into a Data Frame
word_table_bigram_tfidf = pd.DataFrame(word_tfidf_bigram).reset_index()
word_table_bigram_tfidf = word_table_bigram_tfidf.rename(columns={'index':"Word",0:'Score'})
word_table_bigram_tfidf.sort_values(by='Score',ascending=False).head()

                                            Word     Score
30   batlahouseblockbuster batlahouseblockbuster  8.463889
284                                    rt mjback  8.346149
200                 mjback batlahouseblockbuster  8.207007
25                                   batla house  4.051222
20                                 awesome movie  2.785308

In [ ]:
#